<div class="page-header">
  <h1>Estudante: <%= @student.name %></h1>
</div>

<dl id="student-details" class="dl-horizontal">
  <dt>Número de registro</dt>
  <dd><%= @student.id %></dd>
  <dt>Status</dt>
  <dd><%= @student.status %></dd>
</dl>
