<div class="page-header">
   <h1>Lista de Cursos</h1>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
      <table id="courses" class='table table-striped'>
        <thead>
          <tr>
            <th>Nome do curso</th>
            <th>Descrição</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course %></td>
            <td><%= course.description %></td>
            <td><%= course.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Novo', new_course_path,class: "btn btn-success pull-right" %>
  </div>
</div>
