<div class="page-header">
  <h1>Curso: <%= @course.name %></h1>
</div>

<dl id="course-details" class="dl-horizontal">
  <dt>Descrição</dt>
  <dd><%= @course.description %></dd>
  <dt>Status</dt>
  <dd><%= @course.status %></dd>
</dl>
